<div class="row justify-content-center">
  <!-- blog post -->
 <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
   <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
     <img class="card-img-top rounded-0" src="images/blog/post-1.jpg" alt="Post thumb">
     <div class="card-body">
       <!-- post meta -->
       <ul class="list-inline mb-3">
         <li class="list-inline-item mr-3 ml-0">March 15, 2025</li>
         <li class="list-inline-item mr-3 ml-0">By Somrat Sorkar</li>
       </ul>
       <a href="blog-single.html">
         <h4 class="card-title">5 Strategies to Improve Your Learning Efficiency</h4>
       </a>
       <p class="card-text">Discover proven techniques to enhance your focus, retain more information, and make the most of your study time.</p>
       <a href="blog-single.html" class="btn btn-primary btn-sm">read more</a>
     </div>
   </div>
 </article>

 <!-- blog post -->
 <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
   <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
     <img class="card-img-top rounded-0" src="images/blog/post-2.jpg" alt="Post thumb">
     <div class="card-body">
       <!-- post meta -->
       <ul class="list-inline mb-3">
         <li class="list-inline-item mr-3 ml-0">February 28, 2025</li>
         <li class="list-inline-item mr-3 ml-0">By Jonathon Drew</li>
       </ul>
       <a href="blog-single.html">
         <h4 class="card-title">The Future of Online Education in 2025</h4>
       </a>
       <p class="card-text">Online learning is evolving rapidly. Here’s what students and educators can expect in the coming months and years.</p>
       <a href="blog-single.html" class="btn btn-primary btn-sm">read more</a>
     </div>
   </div>
 </article>

 <!-- blog post -->
 <article class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
   <div class="card rounded-0 border-bottom border-primary border-top-0 border-left-0 border-right-0 hover-shadow">
     <img class="card-img-top rounded-0" src="images/blog/post-3.jpg" alt="Post thumb">
     <div class="card-body">
       <!-- post meta -->
       <ul class="list-inline mb-3">
         <li class="list-inline-item mr-3 ml-0">January 10, 2025</li>
         <li class="list-inline-item mr-3 ml-0">By Alex Pitt</li>
       </ul>
       <a href="blog-single.html">
         <h4 class="card-title">How to Balance Studies and Personal Life Effectively</h4>
       </a>
       <p class="card-text">Juggling academics and personal time can be tough. These practical tips will help you stay productive and stress-free.</p>
       <a href="blog-single.html" class="btn btn-primary btn-sm">read more</a>
     </div>
   </div>
 </article>
 </div>
