<div class="row justify-content-center">

  <!-- Event 1 -->
  <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="card border-0 rounded-0 hover-shadow">
      <div class="card-img position-relative">
        <img class="card-img-top rounded-0" src="images/events/event-1.jpg" alt="Tech Conference 2025 image">
        <div class="card-date">
          <span>18</span><br>December
        </div>
      </div>
      <div class="card-body">
        <p><i class="ti-location-pin text-primary mr-2"></i>Algiers, Algiers Province</p>
        <a href="event-single.html">
          <h4 class="card-title">Tech Conference 2025: Innovations in AI and Data Science</h4>
        </a>
      </div>
    </div>
  </div>

  <!-- Event 2 -->
  <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="card border-0 rounded-0 hover-shadow">
      <div class="card-img position-relative">
        <img class="card-img-top rounded-0" src="images/events/event-2.jpg" alt="Cultural Heritage Festival 2025 image">
        <div class="card-date">
          <span>21</span><br>December
        </div>
      </div>
      <div class="card-body">
        <p><i class="ti-location-pin text-primary mr-2"></i>Oran, Oran Province</p>
        <a href="event-single.html">
          <h4 class="card-title">Cultural Heritage Festival 2025: Celebrating Algerian Traditions</h4>
        </a>
      </div>
    </div>
  </div>

  <!-- Event 3 -->
  <div class="col-lg-4 col-sm-6 mb-5 mb-lg-0">
    <div class="card border-0 rounded-0 hover-shadow">
      <div class="card-img position-relative">
        <img class="card-img-top rounded-0" src="images/events/event-3.jpg" alt="Algerian Music and Arts Festival 2025 image">
        <div class="card-date">
          <span>23</span><br>December
        </div>
      </div>
      <div class="card-body">
        <p><i class="ti-location-pin text-primary mr-2"></i>Constantine, Constantine Province</p>
        <a href="event-single.html">
          <h4 class="card-title">Algerian Music and Arts Festival 2025: A Celebration of Local Talent</h4>
        </a>
      </div>
    </div>
  </div>

</div>
